{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="description" content="Free Web tutorials">
  <meta name="keywords" content="HTML,CSS,XML,JavaScript">
  <meta name="author" content="John Doe">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"><title>Pinocchio's Pizza Subs</title>
 <title>Pinocchio's Pizza Subs</title>
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
  <link rel="stylesheet" href="{% static 'css/app.css' %}" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
<body>
    <!--navigation bar-->
    <nav class="navbar navbar-inverse navbar-static-top">
    <div class="container">
         <div class="navbar-header"></div>
         <a href="#" class="navbar-brand">Pinocchio's Pizza Subs</a>
    </div>
    </nav>
     <!--End navigation bar-->

<div id='body'>
    <div class="container">
    {% block page %}
    {% endblock %}
    </div>
</div>





</body>
</html>